.host-container {
  padding: 40px;
  text-align: center;
}

/* Title */
.host-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

/* Next button */
.next-person-btn {
  margin-bottom: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
  border: none;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
}

/* Row of 3 queues */
.queues-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 40px;
}

/* Queue boxes */
.queue-box {
  flex: 1;
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.12);
  min-height: 330px;
}


/* Headers */
.queue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.queue-title {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
}

.clear-btn {
  background: white;
  border: none;
  padding: 6px 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  border-radius: 8px;
  cursor: pointer;
}

/* List of names */
.queue-list {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  font-size: 20px;
}

/* Bottom counters */
.counters-box {
  margin: 40px auto;
  width: 250px;
}

.counter {
  padding: 16px;
  border-radius: 12px;
}

.green-box {
  background: #b7f9b2;
  margin-bottom: 10px;
}

.yellow-box {
  background: #ffe89c;
}

/* Text inside counters */
.counter-number {
  font-size: 28px;
  font-weight: 700;
}

.counter-label {
  font-size: 16px;
}

/* Clear all */
.clear-all-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: white;
  border: none;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  cursor: pointer;
}
