.host-container {
  padding: 30px;
  text-align: center;
}

.current-speaker {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;
}

.next-btn {
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  margin-bottom: 40px;
  font-size: 16px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.queue-card {
  width: 260px;
  min-height: 300px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  text-align: left;
  position: relative;
}

.clear-btn {
  font-size: 14px;
  padding: 6px 12px;
  background: white;
  border-radius: 8px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.queue-card h2 {
  font-size: 22px;
  font-weight: 700;
}

.queue-card ul {
  margin-top: 40px;
  list-style: none;
  padding: 0;
}

.counts-box {
  margin: 0 auto;
  width: 260px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  overflow: hidden;
}

.count {
  padding: 20px;
  font-size: 20px;
}

.fist-box {
  background: #c8f7c5;
}

.shaky-box {
  background: #fff6b3;
}

.count-number {
  font-size: 30px;
  font-weight: 700;
  display: block;
}

.clear-all-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.speaker-name {
  display: inline-block;
  margin-right: 8px;     /* spacing between name + sentence */
}

.speaker-text {
  display: inline-block;
}
